.homePage {
  background-image: url(/assets/images/HomePage.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  position: relative;
}

.feedbackDataContainer {
  position: absolute;
  top: 190px;
  left: 66px;
}

.feedbackTitle {
  border-left: 15px solid #f17d67;
  padding-left: 33px;
}

.feedbackTitle p {
  font-weight: 800;
  font-size: 72px;
  line-height: 75px;
}

.questionPage {
  background-image: url(/assets/images/questionBg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  position: relative;
}

.questionContainer {
  border-left: 5px solid #636363;
  padding-left: 25px;
}

.questionData {
  font-weight: 400;
  font-size: 35px;
}

.feedBackSubmitted {
  background-image: url(/assets/images/questionBg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  position: relative;
  text-align: center;
}

.textarea {
  background: #fff;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
}

.feedBackData {
  font-weight: 800;
  font-size: 72px;
  color: #e85e44;
  text-shadow: 0px 0px 23px rgba(0, 0, 0, 0.5);
  top: 260px;
  position: absolute;
}

.questionTitle {
  font-weight: 800;
  font-size: 64px;
  color: #e85e44;
  margin-bottom: 50px;
}

.questionContainer label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.questionContainer input {
  margin-bottom: 25px;
  width: 35%;
  height: 45px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

@media (max-width: 480px) {
  .homePage {
    background-image: url(/assets/images/HomePageMobile.png);
    background-repeat: no-repeat;
    /* background-position: left top; */
    /* background-size: cover; */
    background-position: 0 0;
    /* height: 100%; */
    width: 100%;
    position: relative;
    text-align: center;
  }

  .feedbackTitle p {
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    text-align: left;
  }

  .btnContainer {
    text-align: center;
  }

  .feedBackData {
    font-weight: 800;
    font-size: 36px;
    color: #e85e44;
    text-shadow: 0px 0px 23px rgba(0, 0, 0, 0.5);
    top: 160px;
    position: absolute;
  }
  .questionTitle {
    font-weight: 800;
    font-size: 36px;
    color: #e85e44;
    margin-bottom: 30px;
  }
  .questionData {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .questionContainer input {
    margin-bottom: 25px;
    width: 90%;
    height: 45px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
  }
}
